# AWS Glue Studio Notebook
##### You are now running a AWS Glue Studio notebook; To start using your notebook you need to start an AWS Glue Interactive Session.

#### Optional: Run this cell to see available notebook commands ("magics").

In [2]:
%help

Welcome to the Glue Interactive Sessions Kernel
For more information on available magic commands, please type %help in any new cell.

Please view our Getting Started page to access the most up-to-date information on the Interactive Sessions kernel: https://docs.aws.amazon.com/glue/latest/dg/interactive-sessions.html
Installed kernel version: 0.37.3

# Available Magic Commands

## Sessions Magic

----
    %help                             Return a list of descriptions and input types for all magic commands.
    %profile            String        Specify a profile in your aws configuration to use as the credentials provider.
    %region             String        Specify the AWS region in which to initialize a session.
                                      Default from ~/.aws/config on Linux or macOS,
                                      or C:\Users\ USERNAME \.aws\config" on Windows.
    %idle_timeout       Int           The number of minutes of inactivity after which a session will timeout.
                                      Default: 2880 minutes (48 hours).
    %session_id_prefix  String        Define a String that will precede all session IDs in the format
                                      [session_id_prefix]-[session_id]. If a session ID is not provided,
                                      a random UUID will be generated.
    %status                           Returns the status of the current Glue session including its duration,
                                      configuration and executing user / role.
    %session_id                       Returns the session ID for the running session.
    %list_sessions                    Lists all currently running sessions by ID.
    %stop_session                     Stops the current session.
    %glue_version       String        The version of Glue to be used by this session.
                                      Currently, the only valid options are 2.0 and 3.0.
                                      Default: 2.0.
----

## Selecting Job Types

----
    %streaming          String        Sets the session type to Glue Streaming.
    %etl                String        Sets the session type to Glue ETL.
    %glue_ray           String        Sets the session type to Glue Ray.
----

## Glue Config Magic
*(common across all job types)*

----

    %%configure         Dictionary    A json-formatted dictionary consisting of all configuration parameters for
                                      a session. Each parameter can be specified here or through individual magics.
    %iam_role           String        Specify an IAM role ARN to execute your session with.
                                      Default from ~/.aws/config on Linux or macOS,
                                      or C:\Users\%USERNAME%\.aws\config` on Windows.
    %number_of_workers  int           The number of workers of a defined worker_type that are allocated
                                      when a session runs.
                                      Default: 5.
    %additional_python_modules  List  Comma separated list of additional Python modules to include in your cluster
                                      (can be from Pypi or S3).
----


## Magic for Spark Jobs (ETL & Streaming)

----
    %worker_type        String        Set the type of instances the session will use as workers.
                                      ETL and Streaming support G.1X, G.2X, G.4X and G.8X.
                                      Default: G.1X.
    %connections        List          Specify a comma separated list of connections to use in the session.
    %extra_py_files     List          Comma separated list of additional Python files From S3.
    %extra_jars         List          Comma separated list of additional Jars to include in the cluster.
    %spark_conf         String        Specify custom spark configurations for your session.
                                      E.g. %spark_conf spark.serializer=org.apache.spark.serializer.KryoSerializer
----

## Magic for Ray Job

----
    %min_workers        Int           The minimum number of workers that are allocated to a Ray job.
                                      Default: 1.
    %object_memory_head Int           The percentage of free memory on the instance head node after a warm start.
                                      Minimum: 0. Maximum: 100.
    %object_memory_worker Int         The percentage of free memory on the instance worker nodes after a warm start.
                                      Minimum: 0. Maximum: 100.
----

## Action Magic

----

    %%sql               String        Run SQL code. All lines after the initial %%sql magic will be passed
                                      as part of the SQL code.
----

####  Run this cell to set up and start your interactive session.

In [1]:
%idle_timeout 2880
%glue_version 3.0
%worker_type G.1X
%number_of_workers 5

import sys
from awsglue.transforms import *
from awsglue.utils import getResolvedOptions
from pyspark.context import SparkContext
from awsglue.context import GlueContext
from awsglue.job import Job
  
sc = SparkContext.getOrCreate()
glueContext = GlueContext(sc)
spark = glueContext.spark_session
job = Job(glueContext)

Current idle_timeout is 2800 minutes.
idle_timeout has been set to 2880 minutes.
Setting Glue version to: 3.0
Previous worker type: G.1X
Setting new worker type to: G.1X
Previous number of workers: 5
Setting new number of workers to: 5
Authenticating with environment variables and user-defined glue_role_arn: arn:aws:iam::014903016512:role/gavxro-pyspark-tutorialRole
Trying to create a Glue session for the kernel.
Worker Type: G.1X
Number of Workers: 5
Session ID: f098004f-76f6-49fa-8926-002e1927a61a
Job Type: glueetl
Applying the following default arguments:
--glue_kernel_version 0.37.3
--enable-glue-datacatalog true
Waiting for session f098004f-76f6-49fa-8926-002e1927a61a to get into ready status...
Session f098004f-76f6-49fa-8926-002e1927a61a has been created.

#### Example: Create a DynamicFrame from a table in the AWS Glue Data Catalog and display its schema

In [4]:
# 4.Read data from Customers Table using Notebook Using Dynamic Frame
dynamicFrameCustomers = glueContext.create_dynamic_frame.from_catalog(
database = "pyspark_tutorial_db", 
table_name = "customers"
)

# Show the top 10 rows from the dynamic dataframe
dynamicFrameCustomers.show(10)

{"customerid": 293, "firstname": "Catherine", "lastname": "Abel", "fullname": "Catherine Abel"}
{"customerid": 295, "firstname": "Kim", "lastname": "Abercrombie", "fullname": "Kim Abercrombie"}
{"customerid": 297, "firstname": "Humberto", "lastname": "Acevedo", "fullname": "Humberto Acevedo"}
{"customerid": 291, "firstname": "Gustavo", "lastname": "Achong", "fullname": "Gustavo Achong"}
{"customerid": 299, "firstname": "Pilar", "lastname": "Ackerman", "fullname": "Pilar Ackerman"}
{"customerid": 305, "firstname": "Carla", "lastname": "Adams", "fullname": "Carla Adams"}
{"customerid": 301, "firstname": "Frances", "lastname": "Adams", "fullname": "Frances Adams"}
{"customerid": 307, "firstname": "Jay", "lastname": "Adams", "fullname": "Jay Adams"}
{"customerid": 309, "firstname": "Ronald", "lastname": "Adina", "fullname": "Ronald Adina"}
{"customerid": 311, "firstname": "Samuel", "lastname": "Agcaoili", "fullname": "Samuel Agcaoili"}

In [ ]:
# s3output = glueContext.getSink(
#   path="s3://bucket_name/folder_name",
#   connection_type="s3",
#   updateBehavior="UPDATE_IN_DATABASE",
#   partitionKeys=[],
#   compression="snappy",
#   enableUpdateCatalog=True,
#   transformation_ctx="s3output",
# )
# s3output.setCatalogInfo(
#   catalogDatabase="demo", catalogTableName="populations"
# )
# s3output.setFormat("glueparquet")
# s3output.writeFrame(DyF)

In [5]:
# 5. Check data types in Dynamic Frame
# Check types in dynamic frame
dynamicFrameCustomers.printSchema()

root
|-- customerid: long
|-- firstname: string
|-- lastname: string
|-- fullname: string

In [6]:
# 6. Count The Number of Rows in a Dynamic DataFrame
# Count The Number of Rows in a Dynamic Dataframe 
dynamicFrameCustomers.count()

635

In [7]:
# 7. Select Fields From A Dynamic frame
# Selecting certain fields from a Dynamic DataFrame
dyfCustomerSelectFields = dynamicFrameCustomers.select_fields(["customerid", "fullname"])

# Show top 10
dyfCustomerSelectFields.show(10)

{"customerid": 293, "fullname": "Catherine Abel"}
{"customerid": 295, "fullname": "Kim Abercrombie"}
{"customerid": 297, "fullname": "Humberto Acevedo"}
{"customerid": 291, "fullname": "Gustavo Achong"}
{"customerid": 299, "fullname": "Pilar Ackerman"}
{"customerid": 305, "fullname": "Carla Adams"}
{"customerid": 301, "fullname": "Frances Adams"}
{"customerid": 307, "fullname": "Jay Adams"}
{"customerid": 309, "fullname": "Ronald Adina"}
{"customerid": 311, "fullname": "Samuel Agcaoili"}

In [8]:
# 8. Drop Columns in a Dynamic Frame
#Drop Fields of Dynamic Frame
dyfCustomerDropFields = dynamicFrameCustomers.drop_fields(["firstname","lastname"])

# Show Top 10 rows of dyfCustomerDropFields Dynamic Frame
dyfCustomerDropFields.show(10)

{"customerid": 293, "fullname": "Catherine Abel"}
{"customerid": 295, "fullname": "Kim Abercrombie"}
{"customerid": 297, "fullname": "Humberto Acevedo"}
{"customerid": 291, "fullname": "Gustavo Achong"}
{"customerid": 299, "fullname": "Pilar Ackerman"}
{"customerid": 305, "fullname": "Carla Adams"}
{"customerid": 301, "fullname": "Frances Adams"}
{"customerid": 307, "fullname": "Jay Adams"}
{"customerid": 309, "fullname": "Ronald Adina"}
{"customerid": 311, "fullname": "Samuel Agcaoili"}

In [9]:
# 9. Rename Columns in a Dynamic Frame
# Mapping array for column rename fullname -> name
mapping=[("customerid", "long", "customerid","long"),("fullname", "string", "name", "string")]

# Apply the mapping to rename fullname -> name
dfyMapping = ApplyMapping.apply(
                                frame = dyfCustomerDropFields, 
                                mappings = mapping, 
                                transformation_ctx = "applymapping1"
                                )

# show the new dynamic frame with name column 
dfyMapping.show(10)

{"customerid": 293, "name": "Catherine Abel"}
{"customerid": 295, "name": "Kim Abercrombie"}
{"customerid": 297, "name": "Humberto Acevedo"}
{"customerid": 291, "name": "Gustavo Achong"}
{"customerid": 299, "name": "Pilar Ackerman"}
{"customerid": 305, "name": "Carla Adams"}
{"customerid": 301, "name": "Frances Adams"}
{"customerid": 307, "name": "Jay Adams"}
{"customerid": 309, "name": "Ronald Adina"}
{"customerid": 311, "name": "Samuel Agcaoili"}

In [10]:
# 10. Filter data in a Dynamic Frame
# Filter dynamicFrameCustomers for customers who have the last name Adams
dyfFilter=  Filter.apply(frame = dynamicFrameCustomers, 
                                        f = lambda x: x["lastname"] in "Adams"
                                    )

# Show the top 10 customers  from the filtered Dynamic frame 
dyfFilter.show(10)

{"lastname": "Adams", "firstname": "Carla", "customerid": 305, "fullname": "Carla Adams"}
{"lastname": "Adams", "firstname": "Frances", "customerid": 301, "fullname": "Frances Adams"}
{"lastname": "Adams", "firstname": "Jay", "customerid": 307, "fullname": "Jay Adams"}

In [11]:
# 11. Join Two Dynamic frames on a equality join
# read up orders dynamic frame

# Read from the customers table in the glue data catalog using a dynamic frame
dynamicFrameOrders = glueContext.create_dynamic_frame.from_catalog(
database = "pyspark_tutorial_db", 
table_name = "orders"
)

# show top 10 rows of orders table
dynamicFrameOrders.show(10)

{"salesorderid": 43659, "salesorderdetailid": 1, "orderdate": "5/31/2011", "duedate": "6/12/2011", "shipdate": "6/7/2011", "employeeid": 279, "customerid": 1045, "subtotal": 20565.6206, "taxamt": 1971.5149, "freight": 616.0984, "totaldue": 23153.2339, "productid": 776, "orderqty": 1, "unitprice": 2024.9940, "unitpricediscount": 0.0000, "linetotal": 2024.9940}
{"salesorderid": 43659, "salesorderdetailid": 2, "orderdate": "5/31/2011", "duedate": "6/12/2011", "shipdate": "6/7/2011", "employeeid": 279, "customerid": 1045, "subtotal": 20565.6206, "taxamt": 1971.5149, "freight": 616.0984, "totaldue": 23153.2339, "productid": 777, "orderqty": 3, "unitprice": 2024.9940, "unitpricediscount": 0.0000, "linetotal": 6074.9820}
{"salesorderid": 43659, "salesorderdetailid": 3, "orderdate": "5/31/2011", "duedate": "6/12/2011", "shipdate": "6/7/2011", "employeeid": 279, "customerid": 1045, "subtotal": 20565.6206, "taxamt": 1971.5149, "freight": 616.0984, "totaldue": 23153.2339, "productid": 778, "orderqty": 1, "unitprice": 2024.9940, "unitpricediscount": 0.0000, "linetotal": 2024.9940}
{"salesorderid": 43659, "salesorderdetailid": 4, "orderdate": "5/31/2011", "duedate": "6/12/2011", "shipdate": "6/7/2011", "employeeid": 279, "customerid": 1045, "subtotal": 20565.6206, "taxamt": 1971.5149, "freight": 616.0984, "totaldue": 23153.2339, "productid": 771, "orderqty": 1, "unitprice": 2039.9940, "unitpricediscount": 0.0000, "linetotal": 2039.9940}
{"salesorderid": 43659, "salesorderdetailid": 5, "orderdate": "5/31/2011", "duedate": "6/12/2011", "shipdate": "6/7/2011", "employeeid": 279, "customerid": 1045, "subtotal": 20565.6206, "taxamt": 1971.5149, "freight": 616.0984, "totaldue": 23153.2339, "productid": 772, "orderqty": 1, "unitprice": 2039.9940, "unitpricediscount": 0.0000, "linetotal": 2039.9940}
{"salesorderid": 43659, "salesorderdetailid": 6, "orderdate": "5/31/2011", "duedate": "6/12/2011", "shipdate": "6/7/2011", "employeeid": 279, "customerid": 1045, "subtotal": 20565.6206, "taxamt": 1971.5149, "freight": 616.0984, "totaldue": 23153.2339, "productid": 773, "orderqty": 2, "unitprice": 2039.9940, "unitpricediscount": 0.0000, "linetotal": 4079.9880}
{"salesorderid": 43659, "salesorderdetailid": 7, "orderdate": "5/31/2011", "duedate": "6/12/2011", "shipdate": "6/7/2011", "employeeid": 279, "customerid": 1045, "subtotal": 20565.6206, "taxamt": 1971.5149, "freight": 616.0984, "totaldue": 23153.2339, "productid": 774, "orderqty": 1, "unitprice": 2039.9940, "unitpricediscount": 0.0000, "linetotal": 2039.9940}
{"salesorderid": 43659, "salesorderdetailid": 8, "orderdate": "5/31/2011", "duedate": "6/12/2011", "shipdate": "6/7/2011", "employeeid": 279, "customerid": 1045, "subtotal": 20565.6206, "taxamt": 1971.5149, "freight": 616.0984, "totaldue": 23153.2339, "productid": 714, "orderqty": 3, "unitprice": 28.8404, "unitpricediscount": 0.0000, "linetotal": 86.5212}
{"salesorderid": 43659, "salesorderdetailid": 9, "orderdate": "5/31/2011", "duedate": "6/12/2011", "shipdate": "6/7/2011", "employeeid": 279, "customerid": 1045, "subtotal": 20565.6206, "taxamt": 1971.5149, "freight": 616.0984, "totaldue": 23153.2339, "productid": 716, "orderqty": 1, "unitprice": 28.8404, "unitpricediscount": 0.0000, "linetotal": 28.8404}
{"salesorderid": 43659, "salesorderdetailid": 10, "orderdate": "5/31/2011", "duedate": "6/12/2011", "shipdate": "6/7/2011", "employeeid": 279, "customerid": 1045, "subtotal": 20565.6206, "taxamt": 1971.5149, "freight": 616.0984, "totaldue": 23153.2339, "productid": 709, "orderqty": 6, "unitprice": 5.7000, "unitpricediscount": 0.0000, "linetotal": 34.2000}

In [12]:
# join customers and orders dynamic frame

# Join two dynamic frames on an equality join
dyfjoin = dynamicFrameCustomers.join(["customerid"],["customerid"],dynamicFrameOrders)

# show top 10 rows for the joined dynamic 
dyfjoin.show(10)

{"freight": 181.0019, "subtotal": 6035.8246, "salesorderdetailid": 1628, "productid": 754, "linetotal": 874.7940, "employeeid": 277, ".customerid": 671, "taxamt": 579.2061, "salesorderid": 44097, "duedate": "8/13/2011", "orderqty": 1, "shipdate": "8/8/2011", "lastname": "Chapla", "firstname": "Lee", "totaldue": 6796.0326, "unitprice": 874.7940, "orderdate": "8/1/2011", "unitpricediscount": 0.0000, "customerid": 671, "fullname": "Lee Chapla"}
{"freight": 181.0019, "subtotal": 6035.8246, "salesorderdetailid": 1629, "productid": 760, "linetotal": 419.4589, "employeeid": 277, ".customerid": 671, "taxamt": 579.2061, "salesorderid": 44097, "duedate": "8/13/2011", "orderqty": 1, "shipdate": "8/8/2011", "lastname": "Chapla", "firstname": "Lee", "totaldue": 6796.0326, "unitprice": 419.4589, "orderdate": "8/1/2011", "unitpricediscount": 0.0000, "customerid": 671, "fullname": "Lee Chapla"}
{"freight": 181.0019, "subtotal": 6035.8246, "salesorderdetailid": 1630, "productid": 762, "linetotal": 838.9178, "employeeid": 277, ".customerid": 671, "taxamt": 579.2061, "salesorderid": 44097, "duedate": "8/13/2011", "orderqty": 2, "shipdate": "8/8/2011", "lastname": "Chapla", "firstname": "Lee", "totaldue": 6796.0326, "unitprice": 419.4589, "orderdate": "8/1/2011", "unitpricediscount": 0.0000, "customerid": 671, "fullname": "Lee Chapla"}
{"freight": 181.0019, "subtotal": 6035.8246, "salesorderdetailid": 1631, "productid": 708, "linetotal": 80.7460, "employeeid": 277, ".customerid": 671, "taxamt": 579.2061, "salesorderid": 44097, "duedate": "8/13/2011", "orderqty": 4, "shipdate": "8/8/2011", "lastname": "Chapla", "firstname": "Lee", "totaldue": 6796.0326, "unitprice": 20.1865, "orderdate": "8/1/2011", "unitpricediscount": 0.0000, "customerid": 671, "fullname": "Lee Chapla"}
{"freight": 181.0019, "subtotal": 6035.8246, "salesorderdetailid": 1632, "productid": 715, "linetotal": 28.8404, "employeeid": 277, ".customerid": 671, "taxamt": 579.2061, "salesorderid": 44097, "duedate": "8/13/2011", "orderqty": 1, "shipdate": "8/8/2011", "lastname": "Chapla", "firstname": "Lee", "totaldue": 6796.0326, "unitprice": 28.8404, "orderdate": "8/1/2011", "unitpricediscount": 0.0000, "customerid": 671, "fullname": "Lee Chapla"}
{"freight": 181.0019, "subtotal": 6035.8246, "salesorderdetailid": 1633, "productid": 711, "linetotal": 80.7460, "employeeid": 277, ".customerid": 671, "taxamt": 579.2061, "salesorderid": 44097, "duedate": "8/13/2011", "orderqty": 4, "shipdate": "8/8/2011", "lastname": "Chapla", "firstname": "Lee", "totaldue": 6796.0326, "unitprice": 20.1865, "orderdate": "8/1/2011", "unitpricediscount": 0.0000, "customerid": 671, "fullname": "Lee Chapla"}
{"freight": 181.0019, "subtotal": 6035.8246, "salesorderdetailid": 1634, "productid": 761, "linetotal": 419.4589, "employeeid": 277, ".customerid": 671, "taxamt": 579.2061, "salesorderid": 44097, "duedate": "8/13/2011", "orderqty": 1, "shipdate": "8/8/2011", "lastname": "Chapla", "firstname": "Lee", "totaldue": 6796.0326, "unitprice": 419.4589, "orderdate": "8/1/2011", "unitpricediscount": 0.0000, "customerid": 671, "fullname": "Lee Chapla"}
{"freight": 181.0019, "subtotal": 6035.8246, "salesorderdetailid": 1635, "productid": 770, "linetotal": 419.4589, "employeeid": 277, ".customerid": 671, "taxamt": 579.2061, "salesorderid": 44097, "duedate": "8/13/2011", "orderqty": 1, "shipdate": "8/8/2011", "lastname": "Chapla", "firstname": "Lee", "totaldue": 6796.0326, "unitprice": 419.4589, "orderdate": "8/1/2011", "unitpricediscount": 0.0000, "customerid": 671, "fullname": "Lee Chapla"}
{"freight": 181.0019, "subtotal": 6035.8246, "salesorderdetailid": 1636, "productid": 758, "linetotal": 1749.5880, "employeeid": 277, ".customerid": 671, "taxamt": 579.2061, "salesorderid": 44097, "duedate": "8/13/2011", "orderqty": 2, "shipdate": "8/8/2011", "lastname": "Chapla", "firstname": "Lee", "totaldue": 6796.0326, "unitprice": 874.7940, "orderdate": "8/1/2011", "unitpricediscount": 0.0000, "customerid": 671, "fullname": "Lee Chapla"}
{"freight": 181.0019, "subtotal": 6035.8246, "salesorderdetailid": 1637, "productid": 725, "linetotal": 735.7528, "employeeid": 277, ".customerid": 671, "taxamt": 579.2061, "salesorderid": 44097, "duedate": "8/13/2011", "orderqty": 4, "shipdate": "8/8/2011", "lastname": "Chapla", "firstname": "Lee", "totaldue": 6796.0326, "unitprice": 183.9382, "orderdate": "8/1/2011", "unitpricediscount": 0.0000, "customerid": 671, "fullname": "Lee Chapla"}

In [13]:
# 12. Write Down Data from a Dynamic Frame To S3

# Create a folder in the S3 bucket created by Cloudformation to use as a location 
# to write the data down to write_down_dyf_to_s3
# Write down data to S3 using the dynamic DataFrame writer class for an S3 path.
# write down the data in a Dynamic Frame to S3 location. 
glueContext.write_dynamic_frame.from_options(
                        frame = dynamicFrameCustomers,
                        connection_type="s3", 
                        connection_options = {"path": "s3://gavxro-pyspark-tutorial/write_down_dyf_to_s3"}, 
                        format = "csv", 
                        format_options={
                            "separator": ","
                            },
                        transformation_ctx = "datasink2")

<awsglue.dynamicframe.DynamicFrame object at 0x7f2a85707c10>

In [14]:
# 13. Write Down Data from a Dynamic Frame using Glue Data Catalog

# write data from the dynamicFrameCustomers to customers_write_dyf table using the meta data stored in the glue data catalog 
glueContext.write_dynamic_frame.from_catalog(
    frame=dynamicFrameCustomers,
    database = "pyspark_tutorial_db",  
    table_name = "customers_write_dyf"
)

<awsglue.dynamicframe.DynamicFrame object at 0x7f2a85707250>

In [15]:
# 14. Convert from Dynamic Frame To Spark DataFrame

# Dynamic Frame to Spark DataFrame 
sparkDf = dynamicFrameCustomers.toDF()

#show spark DF
sparkDf.show()

+----------+----------+-----------+--------------------+
|customerid| firstname|   lastname|            fullname|
+----------+----------+-----------+--------------------+
|       293| Catherine|       Abel|      Catherine Abel|
|       295|       Kim|Abercrombie|     Kim Abercrombie|
|       297|  Humberto|    Acevedo|    Humberto Acevedo|
|       291|   Gustavo|     Achong|      Gustavo Achong|
|       299|     Pilar|   Ackerman|      Pilar Ackerman|
|       305|     Carla|      Adams|         Carla Adams|
|       301|   Frances|      Adams|       Frances Adams|
|       307|       Jay|      Adams|           Jay Adams|
|       309|    Ronald|      Adina|        Ronald Adina|
|       311|    Samuel|   Agcaoili|     Samuel Agcaoili|
|       313|     James|    Aguilar|       James Aguilar|
|       315|    Robert|   Ahlering|     Robert Ahlering|
|       319|       Kim|      Akers|           Kim Akers|
|       441|   Stanley|       Alan|        Stanley Alan|
|       323|       Amy|    Alberts|         Amy Alberts|
|       325|      Anna|   Albright|       Anna Albright|
|       327|    Milton|     Albury|       Milton Albury|
|       329|      Paul|     Alcorn|         Paul Alcorn|
|       331|   Gregory|   Alderson|    Gregory Alderson|
|       333|J. Phillip|  Alexander|J. Phillip Alexander|
+----------+----------+-----------+--------------------+
only showing top 20 rows

In [16]:
# Selecting Columns In a Spark DataFrame

# Select columns from spark dataframe
dfSelect = sparkDf.select("customerid","fullname")

# show selected
dfSelect.show()

+----------+--------------------+
|customerid|            fullname|
+----------+--------------------+
|       293|      Catherine Abel|
|       295|     Kim Abercrombie|
|       297|    Humberto Acevedo|
|       291|      Gustavo Achong|
|       299|      Pilar Ackerman|
|       305|         Carla Adams|
|       301|       Frances Adams|
|       307|           Jay Adams|
|       309|        Ronald Adina|
|       311|     Samuel Agcaoili|
|       313|       James Aguilar|
|       315|     Robert Ahlering|
|       319|           Kim Akers|
|       441|        Stanley Alan|
|       323|         Amy Alberts|
|       325|       Anna Albright|
|       327|       Milton Albury|
|       329|         Paul Alcorn|
|       331|    Gregory Alderson|
|       333|J. Phillip Alexander|
+----------+--------------------+
only showing top 20 rows

In [17]:
# 16. Add Columns In A Spark Dataframe

# creating a new column with a literal string
#import lit from sql functions 
from  pyspark.sql.functions import lit

# Add new column to spark dataframe
dfNewColumn = sparkDf.withColumn("date", lit("2023-07-12"))

# show df with new column
dfNewColumn.show()

+----------+----------+-----------+--------------------+----------+
|customerid| firstname|   lastname|            fullname|      date|
+----------+----------+-----------+--------------------+----------+
|       293| Catherine|       Abel|      Catherine Abel|2023-07-12|
|       295|       Kim|Abercrombie|     Kim Abercrombie|2023-07-12|
|       297|  Humberto|    Acevedo|    Humberto Acevedo|2023-07-12|
|       291|   Gustavo|     Achong|      Gustavo Achong|2023-07-12|
|       299|     Pilar|   Ackerman|      Pilar Ackerman|2023-07-12|
|       305|     Carla|      Adams|         Carla Adams|2023-07-12|
|       301|   Frances|      Adams|       Frances Adams|2023-07-12|
|       307|       Jay|      Adams|           Jay Adams|2023-07-12|
|       309|    Ronald|      Adina|        Ronald Adina|2023-07-12|
|       311|    Samuel|   Agcaoili|     Samuel Agcaoili|2023-07-12|
|       313|     James|    Aguilar|       James Aguilar|2023-07-12|
|       315|    Robert|   Ahlering|     Robert Ahlering|2023-07-12|
|       319|       Kim|      Akers|           Kim Akers|2023-07-12|
|       441|   Stanley|       Alan|        Stanley Alan|2023-07-12|
|       323|       Amy|    Alberts|         Amy Alberts|2023-07-12|
|       325|      Anna|   Albright|       Anna Albright|2023-07-12|
|       327|    Milton|     Albury|       Milton Albury|2023-07-12|
|       329|      Paul|     Alcorn|         Paul Alcorn|2023-07-12|
|       331|   Gregory|   Alderson|    Gregory Alderson|2023-07-12|
|       333|J. Phillip|  Alexander|J. Phillip Alexander|2023-07-12|
+----------+----------+-----------+--------------------+----------+
only showing top 20 rows

In [18]:
# Using concat to concatenate two columns together

#import concat from functions 
from  pyspark.sql.functions import concat

# create another full name column
dfNewFullName = sparkDf.withColumn("new_full_name",concat("firstname",concat(lit(' '),"lastname")))

#show full name column 
dfNewFullName.show()

+----------+----------+-----------+--------------------+--------------------+
|customerid| firstname|   lastname|            fullname|       new_full_name|
+----------+----------+-----------+--------------------+--------------------+
|       293| Catherine|       Abel|      Catherine Abel|      Catherine Abel|
|       295|       Kim|Abercrombie|     Kim Abercrombie|     Kim Abercrombie|
|       297|  Humberto|    Acevedo|    Humberto Acevedo|    Humberto Acevedo|
|       291|   Gustavo|     Achong|      Gustavo Achong|      Gustavo Achong|
|       299|     Pilar|   Ackerman|      Pilar Ackerman|      Pilar Ackerman|
|       305|     Carla|      Adams|         Carla Adams|         Carla Adams|
|       301|   Frances|      Adams|       Frances Adams|       Frances Adams|
|       307|       Jay|      Adams|           Jay Adams|           Jay Adams|
|       309|    Ronald|      Adina|        Ronald Adina|        Ronald Adina|
|       311|    Samuel|   Agcaoili|     Samuel Agcaoili|     Samuel Agcaoili|
|       313|     James|    Aguilar|       James Aguilar|       James Aguilar|
|       315|    Robert|   Ahlering|     Robert Ahlering|     Robert Ahlering|
|       319|       Kim|      Akers|           Kim Akers|           Kim Akers|
|       441|   Stanley|       Alan|        Stanley Alan|        Stanley Alan|
|       323|       Amy|    Alberts|         Amy Alberts|         Amy Alberts|
|       325|      Anna|   Albright|       Anna Albright|       Anna Albright|
|       327|    Milton|     Albury|       Milton Albury|       Milton Albury|
|       329|      Paul|     Alcorn|         Paul Alcorn|         Paul Alcorn|
|       331|   Gregory|   Alderson|    Gregory Alderson|    Gregory Alderson|
|       333|J. Phillip|  Alexander|J. Phillip Alexander|J. Phillip Alexander|
+----------+----------+-----------+--------------------+--------------------+
only showing top 20 rows

In [19]:
# 19. Dropping Columns

# Drop column from spark dataframe
dfDropCol = sparkDf.drop("firstname","lastname")

#show dropped column df
dfDropCol.show()

+----------+--------------------+
|customerid|            fullname|
+----------+--------------------+
|       293|      Catherine Abel|
|       295|     Kim Abercrombie|
|       297|    Humberto Acevedo|
|       291|      Gustavo Achong|
|       299|      Pilar Ackerman|
|       305|         Carla Adams|
|       301|       Frances Adams|
|       307|           Jay Adams|
|       309|        Ronald Adina|
|       311|     Samuel Agcaoili|
|       313|       James Aguilar|
|       315|     Robert Ahlering|
|       319|           Kim Akers|
|       441|        Stanley Alan|
|       323|         Amy Alberts|
|       325|       Anna Albright|
|       327|       Milton Albury|
|       329|         Paul Alcorn|
|       331|    Gregory Alderson|
|       333|J. Phillip Alexander|
+----------+--------------------+
only showing top 20 rows

In [20]:
# 20. Renaming columns

# Rename column in Spark dataframe
dfRenameCol = sparkDf.withColumnRenamed("fullname","full_name")

#show renamed column dataframe
dfRenameCol.show()

+----------+----------+-----------+--------------------+
|customerid| firstname|   lastname|           full_name|
+----------+----------+-----------+--------------------+
|       293| Catherine|       Abel|      Catherine Abel|
|       295|       Kim|Abercrombie|     Kim Abercrombie|
|       297|  Humberto|    Acevedo|    Humberto Acevedo|
|       291|   Gustavo|     Achong|      Gustavo Achong|
|       299|     Pilar|   Ackerman|      Pilar Ackerman|
|       305|     Carla|      Adams|         Carla Adams|
|       301|   Frances|      Adams|       Frances Adams|
|       307|       Jay|      Adams|           Jay Adams|
|       309|    Ronald|      Adina|        Ronald Adina|
|       311|    Samuel|   Agcaoili|     Samuel Agcaoili|
|       313|     James|    Aguilar|       James Aguilar|
|       315|    Robert|   Ahlering|     Robert Ahlering|
|       319|       Kim|      Akers|           Kim Akers|
|       441|   Stanley|       Alan|        Stanley Alan|
|       323|       Amy|    Alberts|         Amy Alberts|
|       325|      Anna|   Albright|       Anna Albright|
|       327|    Milton|     Albury|       Milton Albury|
|       329|      Paul|     Alcorn|         Paul Alcorn|
|       331|   Gregory|   Alderson|    Gregory Alderson|
|       333|J. Phillip|  Alexander|J. Phillip Alexander|
+----------+----------+-----------+--------------------+
only showing top 20 rows

In [21]:
# 21. GroupBy and Aggregate Operations

# Group by lastname then print counts of lastname and show
sparkDf.groupBy("lastname").count().show()

+--------+-----+
|lastname|count|
+--------+-----+
|  Achong|    1|
|  Bailey|    1|
|   Caron|    1|
|   Casts|    1|
|   Curry|    1|
| Desalvo|    1|
| Dockter|    1|
|    Dyck|    1|
|  Farino|    1|
| Fluegel|    1|
|   Ganio|    1|
|   Gimmi|    1|
|Gonzales|    2|
|   Graff|    1|
|   Groth|    1|
|    Hass|    1|
| Hassall|    1|
|Hillmann|    1|
| Hodgson|    1|
|   Ihrig|    1|
+--------+-----+
only showing top 20 rows

In [22]:
# 22. Filtering Columns and Where clauses

# Filter the spark dataframe
# Filter spark DataFrame for customers who have the last name Adams
sparkDf.filter(sparkDf["lastname"] == "Adams").show()

+----------+---------+--------+-------------+
|customerid|firstname|lastname|     fullname|
+----------+---------+--------+-------------+
|       305|    Carla|   Adams|  Carla Adams|
|       301|  Frances|   Adams|Frances Adams|
|       307|      Jay|   Adams|    Jay Adams|
+----------+---------+--------+-------------+

In [23]:
# Where clause
# Where clause spark DataFrame for customers who have the last name Adams
sparkDf.where("lastname =='Adams'").show()

+----------+---------+--------+-------------+
|customerid|firstname|lastname|     fullname|
+----------+---------+--------+-------------+
|       305|    Carla|   Adams|  Carla Adams|
|       301|  Frances|   Adams|Frances Adams|
|       307|      Jay|   Adams|    Jay Adams|
+----------+---------+--------+-------------+

In [25]:
# 23. Joins
# Read from the customers table in the glue data catalog using a dynamic frame and convert to spark dataframe
dfOrders = glueContext.create_dynamic_frame.from_catalog(
                                        database = "pyspark_tutorial_db", 
                                        table_name = "orders"
                                    ).toDF()

In [26]:
# Inner join for Spark Dataframe All Data
# Inner Join Customers Spark DF to Orders Spark DF
sparkDf.join(dfOrders,sparkDf.customerid ==  dfOrders.customerid,"inner").show(truncate=False)

+----------+---------+--------+--------------+------------+------------------+---------+---------+--------+----------+----------+----------+---------+--------+----------+---------+--------+---------+-----------------+---------+
|customerid|firstname|lastname|fullname      |salesorderid|salesorderdetailid|orderdate|duedate  |shipdate|employeeid|customerid|subtotal  |taxamt   |freight |totaldue  |productid|orderqty|unitprice|unitpricediscount|linetotal|
+----------+---------+--------+--------------+------------+------------------+---------+---------+--------+----------+----------+----------+---------+--------+----------+---------+--------+---------+-----------------+---------+
|517       |Richard  |Bready  |Richard Bready|43665       |61                |5/31/2011|6/12/2011|6/7/2011|283       |517       |14352.7713|1375.9427|429.9821|16158.6961|711      |2       |20.1865  |0.0000           |40.3730  |
|517       |Richard  |Bready  |Richard Bready|43665       |62                |5/31/2011|6/12/2011|6/7/2011|283       |517       |14352.7713|1375.9427|429.9821|16158.6961|773      |1       |2039.9940|0.0000           |2039.9940|
|517       |Richard  |Bready  |Richard Bready|43665       |63                |5/31/2011|6/12/2011|6/7/2011|283       |517       |14352.7713|1375.9427|429.9821|16158.6961|707      |1       |20.1865  |0.0000           |20.1865  |
|517       |Richard  |Bready  |Richard Bready|43665       |64                |5/31/2011|6/12/2011|6/7/2011|283       |517       |14352.7713|1375.9427|429.9821|16158.6961|715      |2       |28.8404  |0.0000           |57.6808  |
|517       |Richard  |Bready  |Richard Bready|43665       |65                |5/31/2011|6/12/2011|6/7/2011|283       |517       |14352.7713|1375.9427|429.9821|16158.6961|777      |2       |2024.9940|0.0000           |4049.9880|
|517       |Richard  |Bready  |Richard Bready|43665       |66                |5/31/2011|6/12/2011|6/7/2011|283       |517       |14352.7713|1375.9427|429.9821|16158.6961|712      |2       |5.1865   |0.0000           |10.3730  |
|517       |Richard  |Bready  |Richard Bready|43665       |67                |5/31/2011|6/12/2011|6/7/2011|283       |517       |14352.7713|1375.9427|429.9821|16158.6961|775      |2       |2024.9940|0.0000           |4049.9880|
|517       |Richard  |Bready  |Richard Bready|43665       |68                |5/31/2011|6/12/2011|6/7/2011|283       |517       |14352.7713|1375.9427|429.9821|16158.6961|778      |1       |2024.9940|0.0000           |2024.9940|
|517       |Richard  |Bready  |Richard Bready|43665       |69                |5/31/2011|6/12/2011|6/7/2011|283       |517       |14352.7713|1375.9427|429.9821|16158.6961|709      |6       |5.7000   |0.0000           |34.2000  |
|517       |Richard  |Bready  |Richard Bready|43665       |70                |5/31/2011|6/12/2011|6/7/2011|283       |517       |14352.7713|1375.9427|429.9821|16158.6961|776      |1       |2024.9940|0.0000           |2024.9940|
|1405      |Steve    |Masters |Steve Masters |43854       |576               |7/1/2011 |7/13/2011|7/8/2011|282       |1405      |1749.5880 |167.9604 |52.4876 |1970.0360 |758      |2       |874.7940 |0.0000           |1749.5880|
|1133      |Lucio    |Iallo   |Lucio Iallo   |43859       |619               |7/1/2011 |7/13/2011|7/8/2011|276       |1133      |3911.5991 |375.2443 |117.2639|4404.1073 |715      |1       |28.8404  |0.0000           |28.8404  |
|1133      |Lucio    |Iallo   |Lucio Iallo   |43859       |620               |7/1/2011 |7/13/2011|7/8/2011|276       |1133      |3911.5991 |375.2443 |117.2639|4404.1073 |762      |1       |419.4589 |0.0000           |419.4589 |
|1133      |Lucio    |Iallo   |Lucio Iallo   |43859       |621               |7/1/2011 |7/13/2011|7/8/2011|276       |1133      |3911.5991 |375.2443 |117.2639|4404.1073 |758      |3       |874.7940 |0.0000           |2624.3820|
|1133      |Lucio    |Iallo   |Lucio Iallo   |43859       |622               |7/1/2011 |7/13/2011|7/8/2011|276       |1133      |3911.5991 |375.2443 |117.2639|4404.1073 |760      |2       |419.4589 |0.0000           |838.9178 |
|1935      |Lynn     |Tsoflias|Lynn Tsoflias |43876       |815               |7/1/2011 |7/13/2011|7/8/2011|275       |1935      |7135.2649 |686.9474 |214.6711|8036.8834 |762      |2       |419.4589 |0.0000           |838.9178 |
|1935      |Lynn     |Tsoflias|Lynn Tsoflias |43876       |816               |7/1/2011 |7/13/2011|7/8/2011|275       |1935      |7135.2649 |686.9474 |214.6711|8036.8834 |758      |1       |874.7940 |0.0000           |874.7940 |
|1935      |Lynn     |Tsoflias|Lynn Tsoflias |43876       |817               |7/1/2011 |7/13/2011|7/8/2011|275       |1935      |7135.2649 |686.9474 |214.6711|8036.8834 |763      |3       |419.4589 |0.0000           |1258.3767|
|1935      |Lynn     |Tsoflias|Lynn Tsoflias |43876       |818               |7/1/2011 |7/13/2011|7/8/2011|275       |1935      |7135.2649 |686.9474 |214.6711|8036.8834 |754      |2       |874.7940 |0.0000           |1749.5880|
|1935      |Lynn     |Tsoflias|Lynn Tsoflias |43876       |819               |7/1/2011 |7/13/2011|7/8/2011|275       |1935      |7135.2649 |686.9474 |214.6711|8036.8834 |725      |2       |183.9382 |0.0000           |367.8764 |
+----------+---------+--------+--------------+------------+------------------+---------+---------+--------+----------+----------+----------+---------+--------+----------+---------+--------+---------+-----------------+---------+
only showing top 20 rows

In [27]:
# Inner Join Adams only

#Get customers that only have surname Adams
dfAdams = sparkDf.where("lastname =='Adams'")

# inner join on Adams DF and orders
dfAdams.join(dfOrders,dfAdams.customerid ==  dfOrders.customerid,"inner").show()

+----------+---------+--------+---------+------------+------------------+----------+----------+---------+----------+----------+----------+---------+---------+----------+---------+--------+---------+-----------------+---------+
|customerid|firstname|lastname| fullname|salesorderid|salesorderdetailid| orderdate|   duedate| shipdate|employeeid|customerid|  subtotal|   taxamt|  freight|  totaldue|productid|orderqty|unitprice|unitpricediscount|linetotal|
+----------+---------+--------+---------+------------+------------------+----------+----------+---------+----------+----------+----------+---------+---------+----------+---------+--------+---------+-----------------+---------+
|       307|      Jay|   Adams|Jay Adams|       48382|             23857|10/30/2012|11/11/2012|11/6/2012|       277|       307|   20.5200|   2.0246|   0.6327|   23.1773|      805|       1|  20.5200|           0.0000|  20.5200|
|       307|      Jay|   Adams|Jay Adams|       50734|             34874| 4/30/2013| 5/12/2013| 5/7/2013|       275|       307| 2232.8181| 220.3047|  68.8452| 2521.9680|      739|       3| 744.2727|           0.0000|2232.8181|
|       307|      Jay|   Adams|Jay Adams|       53561|             49267| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      952|       6|  12.1440|           0.0000|  72.8640|
|       307|      Jay|   Adams|Jay Adams|       53561|             49268| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      739|       1| 818.7000|           0.0000| 818.7000|
|       307|      Jay|   Adams|Jay Adams|       53561|             49269| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      985|       4| 338.9940|           0.0000|1355.9760|
|       307|      Jay|   Adams|Jay Adams|       53561|             49270| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      981|       4| 461.6940|           0.0000|1846.7760|
|       307|      Jay|   Adams|Jay Adams|       53561|             49271| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      919|       1| 158.4300|           0.0000| 158.4300|
|       307|      Jay|   Adams|Jay Adams|       53561|             49272| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      747|       1| 809.7600|           0.0000| 809.7600|
|       307|      Jay|   Adams|Jay Adams|       53561|             49273| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      945|       4|  54.8940|           0.0000| 219.5760|
|       307|      Jay|   Adams|Jay Adams|       53561|             49274| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      926|       1| 149.8740|           0.0000| 149.8740|
|       307|      Jay|   Adams|Jay Adams|       53561|             49275| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      781|       3|1391.9940|           0.0000|4175.9820|
|       307|      Jay|   Adams|Jay Adams|       53561|             49276| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      867|       6|  41.9940|           0.0000| 251.9640|
|       307|      Jay|   Adams|Jay Adams|       53561|             49277| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      742|       1| 818.7000|           0.0000| 818.7000|
|       307|      Jay|   Adams|Jay Adams|       53561|             49278| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      994|       2|  32.3940|           0.0000|  64.7880|
|       307|      Jay|   Adams|Jay Adams|       53561|             49279| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      920|       3| 158.4300|           0.0000| 475.2900|
|       307|      Jay|   Adams|Jay Adams|       53561|             49280| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      984|       1| 338.9940|           0.0000| 338.9940|
|       307|      Jay|   Adams|Jay Adams|       53561|             49281| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      925|       9| 149.8740|           0.0000|1348.8660|
|       307|      Jay|   Adams|Jay Adams|       53561|             49282| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      918|       2| 158.4300|           0.0000| 316.8600|
|       307|      Jay|   Adams|Jay Adams|       53561|             49283| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      784|       5|1376.9940|           0.0000|6884.9700|
|       307|      Jay|   Adams|Jay Adams|       53561|             49284| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      950|       2| 153.8940|           0.0000| 307.7880|
+----------+---------+--------+---------+------------+------------------+----------+----------+---------+----------+----------+----------+---------+---------+----------+---------+--------+---------+-----------------+---------+
only showing top 20 rows

In [28]:
# Left Join

#left join on orders and adams df
dfOrders.join(dfAdams,dfAdams.customerid ==  dfOrders.customerid,"left").show(100)

+------------+------------------+----------+----------+---------+----------+----------+----------+---------+---------+----------+---------+--------+---------+-----------------+----------+----------+---------+--------+--------+
|salesorderid|salesorderdetailid| orderdate|   duedate| shipdate|employeeid|customerid|  subtotal|   taxamt|  freight|  totaldue|productid|orderqty|unitprice|unitpricediscount| linetotal|customerid|firstname|lastname|fullname|
+------------+------------------+----------+----------+---------+----------+----------+----------+---------+---------+----------+---------+--------+---------+-----------------+----------+----------+---------+--------+--------+
|       44110|              1732|  8/1/2011| 8/13/2011| 8/8/2011|       277|       295|16667.3077|1600.6864| 500.2145|18768.2086|      765|       2| 419.4589|           0.0000|  838.9178|      null|     null|    null|    null|
|       44110|              1733|  8/1/2011| 8/13/2011| 8/8/2011|       277|       295|16667.3077|1600.6864| 500.2145|18768.2086|      729|       4| 183.9382|           0.0000|  735.7528|      null|     null|    null|    null|
|       44110|              1734|  8/1/2011| 8/13/2011| 8/8/2011|       277|       295|16667.3077|1600.6864| 500.2145|18768.2086|      714|       1|  28.8404|           0.0000|   28.8404|      null|     null|    null|    null|
|       44110|              1735|  8/1/2011| 8/13/2011| 8/8/2011|       277|       295|16667.3077|1600.6864| 500.2145|18768.2086|      715|       5|  28.8404|           0.0000|  144.2020|      null|     null|    null|    null|
|       44110|              1736|  8/1/2011| 8/13/2011| 8/8/2011|       277|       295|16667.3077|1600.6864| 500.2145|18768.2086|      760|       3| 419.4589|           0.0000| 1258.3767|      null|     null|    null|    null|
|       44110|              1737|  8/1/2011| 8/13/2011| 8/8/2011|       277|       295|16667.3077|1600.6864| 500.2145|18768.2086|      770|       2| 419.4589|           0.0000|  838.9178|      null|     null|    null|    null|
|       44110|              1738|  8/1/2011| 8/13/2011| 8/8/2011|       277|       295|16667.3077|1600.6864| 500.2145|18768.2086|      762|       5| 419.4589|           0.0000| 2097.2945|      null|     null|    null|    null|
|       44110|              1739|  8/1/2011| 8/13/2011| 8/8/2011|       277|       295|16667.3077|1600.6864| 500.2145|18768.2086|      758|       1| 874.7940|           0.0000|  874.7940|      null|     null|    null|    null|
|       44110|              1740|  8/1/2011| 8/13/2011| 8/8/2011|       277|       295|16667.3077|1600.6864| 500.2145|18768.2086|      711|       1|  20.1865|           0.0000|   20.1865|      null|     null|    null|    null|
|       44110|              1741|  8/1/2011| 8/13/2011| 8/8/2011|       277|       295|16667.3077|1600.6864| 500.2145|18768.2086|      716|       2|  28.8404|           0.0000|   57.6808|      null|     null|    null|    null|
|       44110|              1742|  8/1/2011| 8/13/2011| 8/8/2011|       277|       295|16667.3077|1600.6864| 500.2145|18768.2086|      708|       5|  20.1865|           0.0000|  100.9325|      null|     null|    null|    null|
|       44110|              1743|  8/1/2011| 8/13/2011| 8/8/2011|       277|       295|16667.3077|1600.6864| 500.2145|18768.2086|      738|       1| 178.5808|           0.0000|  178.5808|      null|     null|    null|    null|
|       44110|              1744|  8/1/2011| 8/13/2011| 8/8/2011|       277|       295|16667.3077|1600.6864| 500.2145|18768.2086|      763|       3| 419.4589|           0.0000| 1258.3767|      null|     null|    null|    null|
|       44110|              1745|  8/1/2011| 8/13/2011| 8/8/2011|       277|       295|16667.3077|1600.6864| 500.2145|18768.2086|      768|       1| 419.4589|           0.0000|  419.4589|      null|     null|    null|    null|
|       44110|              1746|  8/1/2011| 8/13/2011| 8/8/2011|       277|       295|16667.3077|1600.6864| 500.2145|18768.2086|      756|       4| 874.7940|           0.0000| 3499.1760|      null|     null|    null|    null|
|       44110|              1747|  8/1/2011| 8/13/2011| 8/8/2011|       277|       295|16667.3077|1600.6864| 500.2145|18768.2086|      754|       1| 874.7940|           0.0000|  874.7940|      null|     null|    null|    null|
|       44110|              1748|  8/1/2011| 8/13/2011| 8/8/2011|       277|       295|16667.3077|1600.6864| 500.2145|18768.2086|      766|       2| 419.4589|           0.0000|  838.9178|      null|     null|    null|    null|
|       44110|              1749|  8/1/2011| 8/13/2011| 8/8/2011|       277|       295|16667.3077|1600.6864| 500.2145|18768.2086|      761|       2| 419.4589|           0.0000|  838.9178|      null|     null|    null|    null|
|       44110|              1750|  8/1/2011| 8/13/2011| 8/8/2011|       277|       295|16667.3077|1600.6864| 500.2145|18768.2086|      712|       3|   5.1865|           0.0000|   15.5595|      null|     null|    null|    null|
|       44110|              1751|  8/1/2011| 8/13/2011| 8/8/2011|       277|       295|16667.3077|1600.6864| 500.2145|18768.2086|      725|       3| 183.9382|           0.0000|  551.8146|      null|     null|    null|    null|
|       44110|              1752|  8/1/2011| 8/13/2011| 8/8/2011|       277|       295|16667.3077|1600.6864| 500.2145|18768.2086|      732|       1| 356.8980|           0.0000|  356.8980|      null|     null|    null|    null|
|       44110|              1753|  8/1/2011| 8/13/2011| 8/8/2011|       277|       295|16667.3077|1600.6864| 500.2145|18768.2086|      764|       2| 419.4589|           0.0000|  838.9178|      null|     null|    null|    null|
|       44772|              4526|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      730|       3| 183.9382|           0.0000|  551.8146|      null|     null|    null|    null|
|       44772|              4527|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      766|       2| 419.4589|           0.0000|  838.9178|      null|     null|    null|    null|
|       44772|              4528|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      758|       3| 874.7940|           0.0000| 2624.3820|      null|     null|    null|    null|
|       44772|              4529|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      751|       2|2146.9620|           0.0000| 4293.9240|      null|     null|    null|    null|
|       44772|              4530|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      749|       5|2146.9620|           0.0000|10734.8100|      null|     null|    null|    null|
|       44772|              4531|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      753|       6|2146.9620|           0.0000|12881.7720|      null|     null|    null|    null|
|       44772|              4532|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      765|       3| 419.4589|           0.0000| 1258.3767|      null|     null|    null|    null|
|       44772|              4533|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      755|       3| 874.7940|           0.0000| 2624.3820|      null|     null|    null|    null|
|       44772|              4534|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      711|       2|  20.1865|           0.0000|   40.3730|      null|     null|    null|    null|
|       44772|              4535|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      759|       1| 419.4589|           0.0000|  419.4589|      null|     null|    null|    null|
|       44772|              4536|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      726|       2| 183.9382|           0.0000|  367.8764|      null|     null|    null|    null|
|       44772|              4537|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      732|       1| 356.8980|           0.0000|  356.8980|      null|     null|    null|    null|
|       44772|              4538|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      716|       2|  28.8404|           0.0000|   57.6808|      null|     null|    null|    null|
|       44772|              4539|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      770|       3| 419.4589|           0.0000| 1258.3767|      null|     null|    null|    null|
|       44772|              4540|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      707|       3|  20.1865|           0.0000|   60.5595|      null|     null|    null|    null|
|       44772|              4541|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      750|       1|2146.9620|           0.0000| 2146.9620|      null|     null|    null|    null|
|       44772|              4542|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      738|       3| 178.5808|           0.0000|  535.7424|      null|     null|    null|    null|
|       44772|              4543|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      762|       3| 419.4589|           0.0000| 1258.3767|      null|     null|    null|    null|
|       44772|              4544|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      729|       3| 183.9382|           0.0000|  551.8146|      null|     null|    null|    null|
|       44772|              4545|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      754|       2| 874.7940|           0.0000| 1749.5880|      null|     null|    null|    null|
|       44772|              4546|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      712|       1|   5.1865|           0.0000|    5.1865|      null|     null|    null|    null|
|       44772|              4547|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      708|       1|  20.1865|           0.0000|   20.1865|      null|     null|    null|    null|
|       44772|              4548|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      764|       3| 419.4589|           0.0000| 1258.3767|      null|     null|    null|    null|
|       44772|              4549|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      769|       1| 419.4589|           0.0000|  419.4589|      null|     null|    null|    null|
|       44772|              4550|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      760|       3| 419.4589|           0.0000| 1258.3767|      null|     null|    null|    null|
|       44772|              4551|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      757|       4| 874.7940|           0.0000| 3499.1760|      null|     null|    null|    null|
|       44772|              4552|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      722|       3| 178.5808|           0.0000|  535.7424|      null|     null|    null|    null|
|       44772|              4553|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      761|       3| 419.4589|           0.0000| 1258.3767|      null|     null|    null|    null|
|       44772|              4554|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      756|       1| 874.7940|           0.0000|  874.7940|      null|     null|    null|    null|
|       44772|              4555|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      752|       4|2146.9620|           0.0000| 8587.8480|      null|     null|    null|    null|
|       44772|              4556|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      768|       5| 419.4589|           0.0000| 2097.2945|      null|     null|    null|    null|
|       44772|              4557|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      767|       3| 419.4589|           0.0000| 1258.3767|      null|     null|    null|    null|
|       44772|              4558|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      763|       3| 419.4589|           0.0000| 1258.3767|      null|     null|    null|    null|
|       44772|              4559|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      725|       2| 183.9382|           0.0000|  367.8764|      null|     null|    null|    null|
|       44772|              4560|10/31/2011|11/12/2011|11/7/2011|       277|       295|67369.2136|6473.0955|2022.8424|75865.1515|      714|       2|  28.8404|           0.0000|   57.6808|      null|     null|    null|    null|
|       45550|              7092| 1/29/2012| 2/10/2012| 2/5/2012|       277|       295|54979.9007|5275.9397|1648.7312|61904.5716|      770|       1| 419.4589|           0.0000|  419.4589|      null|     null|    null|    null|
|       45550|              7093| 1/29/2012| 2/10/2012| 2/5/2012|       277|       295|54979.9007|5275.9397|1648.7312|61904.5716|      755|       1| 874.7940|           0.0000|  874.7940|      null|     null|    null|    null|
|       45550|              7094| 1/29/2012| 2/10/2012| 2/5/2012|       277|       295|54979.9007|5275.9397|1648.7312|61904.5716|      756|       1| 874.7940|           0.0000|  874.7940|      null|     null|    null|    null|
|       45550|              7095| 1/29/2012| 2/10/2012| 2/5/2012|       277|       295|54979.9007|5275.9397|1648.7312|61904.5716|      738|       2| 178.5808|           0.0000|  357.1616|      null|     null|    null|    null|
|       45550|              7096| 1/29/2012| 2/10/2012| 2/5/2012|       277|       295|54979.9007|5275.9397|1648.7312|61904.5716|      765|       6| 419.4589|           0.0000| 2516.7534|      null|     null|    null|    null|
|       45550|              7097| 1/29/2012| 2/10/2012| 2/5/2012|       277|       295|54979.9007|5275.9397|1648.7312|61904.5716|      767|       1| 419.4589|           0.0000|  419.4589|      null|     null|    null|    null|
|       45550|              7098| 1/29/2012| 2/10/2012| 2/5/2012|       277|       295|54979.9007|5275.9397|1648.7312|61904.5716|      760|       3| 419.4589|           0.0000| 1258.3767|      null|     null|    null|    null|
|       45550|              7099| 1/29/2012| 2/10/2012| 2/5/2012|       277|       295|54979.9007|5275.9397|1648.7312|61904.5716|      711|       6|  20.1865|           0.0000|  121.1190|      null|     null|    null|    null|
|       45550|              7100| 1/29/2012| 2/10/2012| 2/5/2012|       277|       295|54979.9007|5275.9397|1648.7312|61904.5716|      769|       2| 419.4589|           0.0000|  838.9178|      null|     null|    null|    null|
|       45550|              7101| 1/29/2012| 2/10/2012| 2/5/2012|       277|       295|54979.9007|5275.9397|1648.7312|61904.5716|      759|       3| 419.4589|           0.0000| 1258.3767|      null|     null|    null|    null|
|       45550|              7102| 1/29/2012| 2/10/2012| 2/5/2012|       277|       295|54979.9007|5275.9397|1648.7312|61904.5716|      752|       1|2146.9620|           0.0000| 2146.9620|      null|     null|    null|    null|
|       45550|              7103| 1/29/2012| 2/10/2012| 2/5/2012|       277|       295|54979.9007|5275.9397|1648.7312|61904.5716|      753|       1|2146.9620|           0.0000| 2146.9620|      null|     null|    null|    null|
|       45550|              7104| 1/29/2012| 2/10/2012| 2/5/2012|       277|       295|54979.9007|5275.9397|1648.7312|61904.5716|      763|       4| 419.4589|           0.0000| 1677.8356|      null|     null|    null|    null|
|       45550|              7105| 1/29/2012| 2/10/2012| 2/5/2012|       277|       295|54979.9007|5275.9397|1648.7312|61904.5716|      749|       1|2146.9620|           0.0000| 2146.9620|      null|     null|    null|    null|
|       45550|              7106| 1/29/2012| 2/10/2012| 2/5/2012|       277|       295|54979.9007|5275.9397|1648.7312|61904.5716|      768|       3| 419.4589|           0.0000| 1258.3767|      null|     null|    null|    null|
|       45550|              7107| 1/29/2012| 2/10/2012| 2/5/2012|       277|       295|54979.9007|5275.9397|1648.7312|61904.5716|      762|       1| 419.4589|           0.0000|  419.4589|      null|     null|    null|    null|
|       45550|              7108| 1/29/2012| 2/10/2012| 2/5/2012|       277|       295|54979.9007|5275.9397|1648.7312|61904.5716|      754|       4| 874.7940|           0.0000| 3499.1760|      null|     null|    null|    null|
|       45550|              7109| 1/29/2012| 2/10/2012| 2/5/2012|       277|       295|54979.9007|5275.9397|1648.7312|61904.5716|      729|       2| 183.9382|           0.0000|  367.8764|      null|     null|    null|    null|
|       45550|              7110| 1/29/2012| 2/10/2012| 2/5/2012|       277|       295|54979.9007|5275.9397|1648.7312|61904.5716|      766|       6| 419.4589|           0.0000| 2516.7534|      null|     null|    null|    null|
|       45550|              7111| 1/29/2012| 2/10/2012| 2/5/2012|       277|       295|54979.9007|5275.9397|1648.7312|61904.5716|      758|       4| 874.7940|           0.0000| 3499.1760|      null|     null|    null|    null|
|       45550|              7112| 1/29/2012| 2/10/2012| 2/5/2012|       277|       295|54979.9007|5275.9397|1648.7312|61904.5716|      715|       7|  28.8404|           0.0000|  201.8828|      null|     null|    null|    null|
|       45550|              7113| 1/29/2012| 2/10/2012| 2/5/2012|       277|       295|54979.9007|5275.9397|1648.7312|61904.5716|      764|       4| 419.4589|           0.0000| 1677.8356|      null|     null|    null|    null|
|       45550|              7114| 1/29/2012| 2/10/2012| 2/5/2012|       277|       295|54979.9007|5275.9397|1648.7312|61904.5716|      751|       5|2146.9620|           0.0000|10734.8100|      null|     null|    null|    null|
|       45550|              7115| 1/29/2012| 2/10/2012| 2/5/2012|       277|       295|54979.9007|5275.9397|1648.7312|61904.5716|      761|       2| 419.4589|           0.0000|  838.9178|      null|     null|    null|    null|
|       45550|              7116| 1/29/2012| 2/10/2012| 2/5/2012|       277|       295|54979.9007|5275.9397|1648.7312|61904.5716|      750|       6|2146.9620|           0.0000|12881.7720|      null|     null|    null|    null|
|       45550|              7117| 1/29/2012| 2/10/2012| 2/5/2012|       277|       295|54979.9007|5275.9397|1648.7312|61904.5716|      712|       5|   5.1865|           0.0000|   25.9325|      null|     null|    null|    null|
|       46358|             10057| 4/30/2012| 5/12/2012| 5/7/2012|       277|       295|60079.0221|5773.2819|1804.1506|67656.4546|      766|       2| 419.4589|           0.0000|  838.9178|      null|     null|    null|    null|
|       46358|             10058| 4/30/2012| 5/12/2012| 5/7/2012|       277|       295|60079.0221|5773.2819|1804.1506|67656.4546|      759|       2| 419.4589|           0.0000|  838.9178|      null|     null|    null|    null|

In [29]:
# 24. Writing data down using the Glue Data Catalog
# delete data from S3 in customers_write_dyf and write_down_dyf_to_s3
# convert from spark Dataframe to Glue Dynamic DataFrame

# Import Dynamic DataFrame class
from awsglue.dynamicframe import DynamicFrame

#Convert from Spark Data Frame to Glue Dynamic Frame
dyfCustomersConvert = DynamicFrame.fromDF(sparkDf, glueContext, "convert")

#Show converted Glue Dynamic Frame
dyfCustomersConvert.show()

{"customerid": 293, "firstname": "Catherine", "lastname": "Abel", "fullname": "Catherine Abel"}
{"customerid": 295, "firstname": "Kim", "lastname": "Abercrombie", "fullname": "Kim Abercrombie"}
{"customerid": 297, "firstname": "Humberto", "lastname": "Acevedo", "fullname": "Humberto Acevedo"}
{"customerid": 291, "firstname": "Gustavo", "lastname": "Achong", "fullname": "Gustavo Achong"}
{"customerid": 299, "firstname": "Pilar", "lastname": "Ackerman", "fullname": "Pilar Ackerman"}
{"customerid": 305, "firstname": "Carla", "lastname": "Adams", "fullname": "Carla Adams"}
{"customerid": 301, "firstname": "Frances", "lastname": "Adams", "fullname": "Frances Adams"}
{"customerid": 307, "firstname": "Jay", "lastname": "Adams", "fullname": "Jay Adams"}
{"customerid": 309, "firstname": "Ronald", "lastname": "Adina", "fullname": "Ronald Adina"}
{"customerid": 311, "firstname": "Samuel", "lastname": "Agcaoili", "fullname": "Samuel Agcaoili"}
{"customerid": 313, "firstname": "James", "lastname": "Aguilar", "fullname": "James Aguilar"}
{"customerid": 315, "firstname": "Robert", "lastname": "Ahlering", "fullname": "Robert Ahlering"}
{"customerid": 319, "firstname": "Kim", "lastname": "Akers", "fullname": "Kim Akers"}
{"customerid": 441, "firstname": "Stanley", "lastname": "Alan", "fullname": "Stanley Alan"}
{"customerid": 323, "firstname": "Amy", "lastname": "Alberts", "fullname": "Amy Alberts"}
{"customerid": 325, "firstname": "Anna", "lastname": "Albright", "fullname": "Anna Albright"}
{"customerid": 327, "firstname": "Milton", "lastname": "Albury", "fullname": "Milton Albury"}
{"customerid": 329, "firstname": "Paul", "lastname": "Alcorn", "fullname": "Paul Alcorn"}
{"customerid": 331, "firstname": "Gregory", "lastname": "Alderson", "fullname": "Gregory Alderson"}
{"customerid": 333, "firstname": "J. Phillip", "lastname": "Alexander", "fullname": "J. Phillip Alexander"}

In [30]:
# Write Dynamic DataFrame down to S3 location

# write down the data in converted Dynamic Frame to S3 location. 
glueContext.write_dynamic_frame.from_options(
                            frame = dyfCustomersConvert,
                            connection_type="s3", 
                            connection_options = {"path": "s3://gavxro-pyspark-tutorial/write_down_dyf_to_s3"}, 
                            format = "csv", 
                            format_options={
                                "separator": ","
                                },
                            transformation_ctx = "datasink2")

<awsglue.dynamicframe.DynamicFrame object at 0x7f2a85675b50>

In [31]:
# Write Dynamic DataFrame using Glue Data Catalog

# write data from the converted to customers_write_dyf table using the meta data stored in the glue data catalog 
glueContext.write_dynamic_frame.from_catalog(
    frame = dyfCustomersConvert,
    database = "pyspark_tutorial_db",  
    table_name = "customers_write_dyf")

<awsglue.dynamicframe.DynamicFrame object at 0x7f2a8567a250>